In [1]:
#file names
train_img = "Dataset/train-images"
train_lbl = "Dataset/train-labels"


test_img = "Dataset/test-images"
test_lbl = "Dataset/test-labels"

#init values
train_num = 60000 #number of images
test_num = 10000 #number of images
pxl_num = 28 * 28 #number of pixels in image

In [2]:
import pandas as pd
import numpy as np

#Function importing labels to python
def read_labels(filename, num):
    with open(filename, 'rb') as file:
        arr = []
        i = 0
        data = file.read()
        for b in data:
            arr.append(b)
            i+=1
            if i == num:
                break
        print('i='+str(i))
        return pd.DataFrame(pd.get_dummies(pd.Series(arr), dtype=bool))

In [3]:
y_test = read_labels(test_lbl, test_num)
y_test.info()
y_test.head()

i=10000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
0    10000 non-null bool
1    10000 non-null bool
2    10000 non-null bool
3    10000 non-null bool
4    10000 non-null bool
5    10000 non-null bool
6    10000 non-null bool
7    10000 non-null bool
8    10000 non-null bool
9    10000 non-null bool
dtypes: bool(10)
memory usage: 97.7 KB

       0      1      2      3      4      5      6      7      8      9
0  False  False  False  False  False  False  False   True  False  False
1  False  False   True  False  False  False  False  False  False  False
2  False   True  False  False  False  False  False  False  False  False
3   True  False  False  False  False  False  False  False  False  False
4  False  False  False  False   True  False  False  False  False  False

In [4]:
y_train = read_labels(train_lbl, train_num)
y_train.head()

i=60000

       0      1      2      3      4      5      6      7      8      9
0   True  False  False  False  False  False  False  False  False  False
1   True  False  False  False  False  False  False  False  False  False
2  False  False  False  False  False  False  False  False   True  False
3  False   True  False  False  False  False  False  False  False  False
4   True  False  False  False  False  False  False  False  False  False

In [10]:
def get_images(filename, num):
    with open(filename, 'rb') as file:
        arr = np.empty((num, pxl_num), dtype=np.float64)
        data = file.read()
        col = ['Pxl'+str(i) for i in range(1, 28*28+1)]
        i = -1
        j = 0
        for pxl in data:
            if ( j%(28*28) ) == 0:
                j=0
                i+=1
                if i == num:
                    break
            arr[i][j] = pxl/255.0
            j+=1
        print("i="+str(i))
        print("j="+str(j))
    return pd.DataFrame(data=arr[:], columns=col)

In [11]:
X_test = get_images(test_img, test_num)
X_test.head()

i=10000
j=0

,Pxl1,Pxl2,Pxl3,Pxl4,Pxl5,Pxl6,Pxl7,Pxl8,Pxl9,Pxl10,...,Pxl775,Pxl776,Pxl777,Pxl778,Pxl779,Pxl780,Pxl781,Pxl782,Pxl783,Pxl784
0,0.0,0.0,0.031373,0.011765,0.0,0.0,0.062745,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
X_train = get_images(train_img, train_num)
X_train.info()

i=60000
j=0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Columns: 784 entries, Pxl1 to Pxl784
dtypes: float64(784)
memory usage: 358.9 MB

In [13]:
print("X")
X_train.info()
print("Y")
y_train.info()

X
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Columns: 784 entries, Pxl1 to Pxl784
dtypes: float64(784)
memory usage: 358.9 MB
Y
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 10 columns):
0    60000 non-null bool
1    60000 non-null bool
2    60000 non-null bool
3    60000 non-null bool
4    60000 non-null bool
5    60000 non-null bool
6    60000 non-null bool
7    60000 non-null bool
8    60000 non-null bool
9    60000 non-null bool
dtypes: bool(10)
memory usage: 586.0 KB

In [14]:
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

clf = MLPClassifier(hidden_layer_sizes=(100,100), alpha=0.001, solver='lbfgs', verbose=10, random_state=1)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

In [15]:
accuracy_score(y_test, y_pred)

0.9645